.home-banner {
  padding: $vertical-space-large $gutter;
  text-align: center;
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  background-image: url(../images/ottawa.jpg);

  .home-banner__text {
    color: white;

    @media (min-width: $tablet) {
      margin-left: auto;
      margin-right: auto;
      font-size: $h2-font-size;
      line-height: $h2-line-height;
      max-width: 60%;
    }
  }

  .home-banner__cta {
    margin-top: $vertical-space;
  }
}
