$banner-height: 500px;
$banner-link-height: 280px;

.home-banner {
  position: relative;
  padding: $vertical-space-large $gutter;
  text-align: center;
  background-image: url(../images/banners/home.jpg);

  @media (min-width: $desktop) {
    min-height: $banner-height;
    padding-top: $vertical-space-large * 2;
    padding-bottom: $vertical-space-large * 2;
  }

  .home-banner__initial {
    @media (min-width: $desktop) {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      @include transform(translateY(-50%));
    }
  }

  .home-banner__learn-more {
    display: none;
  }

  .home-banner__logo {
    width: 200px;
    margin-top: -(0.125 * 200px);

    @media (min-width: $tablet) {
      width: 300px;
      margin-top: -(0.125 * 300px);
    }
  }

  .home-banner__text {
    margin-top: 0;
    color: white;
    font-size: $lead-font-size;
    line-height: $lead-line-height;

    @media (min-width: $tablet) {
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }

    @media (min-width: $desktop) {
      max-width: 1000px;
    }
  }

  .home-banner__link {
    display: block;
    padding: $base-line-height;
    width: 100%;
    color: $white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-align: left;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    height: $banner-link-height;
    overflow: hidden;

    &:hover {
      color: $white;
      text-decoration: none;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1);
      height: $banner-link-height + 16px;
      transform: translateY(-8px);
    }
  }

  .home-banner__cta {
    display: none;
    margin-top: $vertical-space;

    @media (min-width: $desktop) {
      display: inline-block;
    }
  }

  .row {
    padding: 0;
  }
}
