$banner-height: 500px;
$banner-link-height: 280px;

.page-banner {
  position: relative;
  color: white;

  .page-banner__text {
    margin-top: 0;
    font-size: $lead-font-size;
    line-height: $lead-line-height;

    @media (min-width: $tablet) {
      font-size: $h3-font-size;
      line-height: 1.5em;
    }
  }
}

/*================ Banner Images ================*/

.page-banner-default {
  background-image: url(../images/home.jpg);
}

$banner-pages: about-us volunteer support-us client-resources partnership;

@each $banner in $banner-pages {
  .page-banner-#{$banner} {
    background-image: url("../images/banners/#{$banner}.jpg");
  }
}
