.post-header,
.post-content,
.post-footer {
  padding-top: $vertical-space;
  padding-bottom: $vertical-space;
}

.post-header {

}

.post-title {
  margin-bottom: 0;
}

.post-time-and-author {
  font-style: italic;
  margin-top: $vertical-space / 2;
}

.post-footer {
  border-top: 1px solid $blue-white;
  border-bottom: 1px solid $blue-white;
}
